#Docker Compose 파일의 버전
version: "3.8"

#우리가 띄울 컨테이너들 정의
services:
  # Blue 환경 (8081 포트)
  blue:
    #도커 허브에서 가져올 이미지 주소
    image: ${DOCKERHUB_USERNAME}/bam-match-server:latest
    #실행될 컨테이너의 고유 이름
    container_name: bam-match-blue
    #서버가 예기치 않게 꺼지면 자동 실행
    restart: unless-stopped
    #컨테이너 내부 설정값
    environment:
      - TZ=Asia/Seoul               # 서버 시간을 한국 시간으로 맞춥니다.
      - SPRING_PROFILES_ACTIVE=prod # 스프링의 application-prod.yml 설정 사용
    ports:
      - "8081:8080"                 # 외부(8081)와 내부(8080)를 연결합니다.
    env_file:
      - ../.env                     # DB 비번 같은 민감한 정보가 담긴 .env 파일을 읽어옵니다.
    networks:
      - bam-match-network           # 'bam-match-network'라는 이름의 길을 사용합니다.

  # Green 환경 (8082 포트)
  green:
    image: ${DOCKERHUB_USERNAME}/bam-match-server:latest
    container_name: bam-match-green
    restart: unless-stopped
    environment:
      - TZ=Asia/Seoul
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - "8082:8080"
    env_file:
      - ../.env
    networks:
      - bam-match-network

networks:
  bam-match-network:
    #이 네트워크는 이 파일 안에서 만드는 게 아니라
    #외부 (EC2 터미널)에서 'docker network create'로 만들어둔 것을 가져다 사용
    external: true